body {
  background-color: rgb(34, 35, 39);
}

#root {
  background-color: rgb(34, 35, 39);
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont;
}
svg {
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 2em auto 0 auto;
  display: block;
}
table {
  width: 700px;
  overflow: scroll;
  text-align: left;
  margin: 2em auto 0 auto;
}
